<a href="https://colab.research.google.com/github/mercynt/showcasewe/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
5-2 #this is my first code

3

In [ ]:
print("Hello World!")

Hello World!

In [ ]:
type(2)

int

In [ ]:
type(2.2)

float

In [ ]:
type(True)

bool

In [ ]:
type("python")

str

In [ ]:
type([1,2,3])

list

In [ ]:
type({"apple","mango"})

set

In [ ]:
print("hello")

hello

In [ ]:
country_name ="United Kingdom"
print(country_name)

United Kingdom

In [ ]:
mystring="This is a string"
len(mystring)

16

In [ ]:
num = 423
type(num)

int

In [ ]:
str(num)

'423'

In [ ]:
num1 = 4.356
type(num1)

float

In [ ]:
int(num1)

4

In [ ]:
num2 = "453"
type(num2)

str

In [ ]:
int(num2)

453

In [ ]:
num3 ="print"
type(num3)

str

In [ ]:
print("Their apparent \"intention\" was not honest")

Their apparent "intention" was not honest

In [ ]:
print("Their apparent \nintention was not honest")

Their apparent
intention was not honest

In [ ]:
print("Their apparent \tintention was not honest")

Their apparent 	intention was not honest

In [ ]:
print("Their apparent \bintention was not honest")

Their apparent intention was not honest

In [ ]:
my_string = "HELLO"
my_string[1:4]
my_string[3]

'L'

In [ ]:
my_string[3]

'L'

In [ ]:
my_string[::-3]

'OE'

In [ ]:
my_string[::1]

'HELLO'

In [ ]:
mystring3="LEARNING"
mystring3[::-2]

'GIRE'

In [ ]:
str1 = "I enjoy python"
str2 ="class"

In [ ]:
print(str1+" "+str2)

I enjoy python class

In [ ]:
str3 = "write this 5 times\n"
print(str3*5)

write this 5 times
write this 5 times
write this 5 times
write this 5 times
write this 5 times

In [ ]:
"10"+"6"

'106'

In [ ]:
10+6

16

In [ ]:
str4 = "123"
print(id(str4))

140144763758320

In [ ]:
str4 = "234"
print(id(str4))

140144676052848

In [ ]:
print(str4)

234

In [ ]:
mystring ="THIS IS UPPERCASE"
mystring.casefold()

'this is uppercase'

In [ ]:
mystring2 ="this is uppercase!"
mystring2.upper()

'THIS IS UPPERCASE!'

In [ ]:
mystring2.replace("i","e")

'thes es uppercase!'

In [ ]:
mystring2.split("i")

['th', 's ', 's uppercase!']

In [ ]:
"My salary will be {} by next April".format(10000)

'My salary will be 10000 by next April'

In [ ]:
mystring4 = "My salary will be {} by next {}"
salary = 5000
period = "April"
print(mystring4.format(salary,period))

My salary will be 5000 by next April

In [ ]:
mystring5 = "I bought {1} kg of {2} that cost me {0} pounds"
product = "apples"
weight = 10
cost = 25
print(mystring5.format(cost,weight,product))

I bought 10 kg of apples that cost me 25 pounds

In [ ]:
mystring5 = "I bought {0} kg of {1} that cost me {2} pounds"
product = "apples"
weight = 10
cost = 25
print(mystring5.format(weight,product,cost))

I bought 10 kg of apples that cost me 25 pounds

In [ ]:
mystring5 = "I bought {2} kg of {0} that cost me {1} pounds"
product = "apples"
weight = 10
cost = 25
print(mystring5.format(product,cost,weight))

I bought 10 kg of apples that cost me 25 pounds

In [ ]:
mystring5 = "I bought {2} kg of {1} that cost me {0} pounds"
product = "apples"
weight = 10
cost = 25
print(mystring5.format(cost,product,weight))

I bought 10 kg of apples that cost me 25 pounds

In [ ]:
mystring6 = "I bought {a} kg of {b}that cost me {c} pounds"
product = "apples"
weight = 10
cost = 25
print(mystring6.format(a=10,b=product, c=25))

I bought 10 kg of applesthat cost me 25 pounds

In [ ]:
var1 =10/6

In [ ]:
round(var1,5)

1.66667

In [ ]:
print("The area is {v:1.2f}".format(v=10/6))

The area is 1.67

In [ ]:
print("I am roaming %d and %f"%(100,2.5))

I am roaming 100 and 2.500000

In [ ]:
10%3

1

In [ ]:
(5+3*6.666/12)**2

44.44222225

In [ ]:
r=5.2
pi =3.14
circum =2*pi*r
print(circum)
circum<20

32.656000000000006

False

In [ ]:
not(3<5)

False

In [ ]:
x=5.5
type(x)

float

In [ ]:
int(x)

5

In [ ]:
round

In [ ]:
replace()

NameError: ignored

In [ ]:
x=-10
if x%2==0:
  print("this is an even number!")

In [ ]:
x=7
if x%2==0:
  print("this is an even number!")
else:
    print("This is an odd number!")

In [ ]:
a,b=15,12
if a==b:
  print("The two nos. are equal")
elif a>b:
  print("First no. is greater than the second")
else:
  print("first no. is smaller than the second")

In [ ]:
for r in range(0,6):
  print("print the iteration number is {}".format(r))

In [ ]:
mylist = ["Michael","Sean", "Michael", "Adam"]
print(mylist)

In [ ]:
mylist[1]="Sam"
mylist

NameError: ignored

In [ ]:
print(len(mylist))
print(type(mylist))
if "Joan" in mylist:
  print("yes")
else:
  print("no")

In [ ]:
mylist.insert(4,"Joan")
mylist

In [ ]:
mylist2= ["michael", "Sean","Joan", "Adam"]
mylist2.sort()
print(mylist2)
mylist2.sort(reverse=True)
mylist2.sort(reverse=False)
print(mylist2)
mylist2.reverse()
print(mylist2)

['Adam', 'Joan', 'Sean', 'michael']
['Adam', 'Joan', 'Sean', 'michael']
['michael', 'Sean', 'Joan', 'Adam']

In [ ]:
mylist2= ["michael", "Sean","Joan", "Adam"]
mylist3=["Alex", "Zara"]
print(mylist3+mylist2)

['Alex', 'Zara', 'michael', 'Sean', 'Joan', 'Adam']

In [ ]:
mydict={"employee":"Zara","department":"Operations","last salary":50000}
mydictkeys = mydict.keys()
print(mydictkeys)

dict_keys(['employee', 'department', 'last salary'])

In [ ]:
mydict={"employee":"Zara","department":"Operations","last salary":50000}
mydictkeys = mydict.values()
print(mydictkeys)

dict_values(['Zara', 'Operations', 50000])

In [ ]:
mydict={"employee":"Zara","department":"Operations","last salary":50000}
mydictkeys = mydict.items()
print(mydictkeys)

dict_items([('employee', 'Zara'), ('department', 'Operations'), ('last salary', 50000)])

In [ ]:
mydict={"employee":"Zara","department":"Operations","last salary":50000}
mydict.pop("employee")
print(mydict)

{'department': 'Operations', 'last salary': 50000}

In [ ]:
mydict={"employee":"Zara","department":"Operations","last salary":50000}
for keys,values in mydict.items():
 print(keys,values)

employee Zara
department Operations
last salary 50000

In [ ]:
mydict={"employee":"Zara","department":"Operations","last salary":50000}
for keys,values in mydict.items():
 print(keys,values)
 delete = input("employee:")
mydict.pop(delete)
print("my dict is:")
for keys,values in mydict.items():
  print(keys,values)

employee Zara

In [ ]:
myset={"apple","banana","orange",1,2,3,True}
myset
print(len(myset))

6

In [ ]:
myset={"apple","banana","orange",1,2,3,True}
myset[1:4]

TypeError: ignored

In [ ]:
import numpy as np